#ui_notifIt p {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
}
.alerts {
  margin: 20px;
}
.alert-message.warning,
.alert-message.warning:hover,
.alert-message.warning p a,
.alert-message.danger,
.alert-message.danger:hover,
.alert-message.error,
.alert-message.error:hover,
.alert-message.error p a,
.alert-message.success,
.alert-message.success:hover,
.alert-message.info,
.alert-message.info:hover,
.alert-message.danger p a,
.alert-message.error p a,
.alert-message.success p a,
.alert-message.info p a
{
  color: #ffffff;
}

.alert-message .close {
  font-family: Arial, sans-serif;
  line-height: 18px;
}

.alert-message.danger,.alert-message.error {
  background-color: #de4343;
  border-color: #c43d3d;
}

.alert-message.success {
  background-color: #61b832;
  border-color: #55a12c;
}

.alert-message.info {
  background-color: #4ea5cd;
  border-color: #3b8eb5;
}

.alert-message.warning {
  background-color: #eaaf51;
  border-color: #d99a36;
  color: #817E78;
}

:root .alert-message {
  border-radius: 0;
}

.close {
  float: right;
  color: #000000;
  font-size: 30px;
  font-weight: bold;
  line-height: 13.5px;
  text-shadow: 0 1px 0 #ffffff;
  filter: alpha(opacity =   25);
  -khtml-opacity: 0.25;
  -moz-opacity: 0.25;
  opacity: 0.25;
}

.close:hover {
  color: #000000;
  text-decoration: none;
  filter: alpha(opacity =   40);
  -khtml-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
}

.alert-message {
  font-family: 'Raleway', sans-serif;
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  background-size: 40px 40px;
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(.25, rgba(255
    , 255, 255, .05)), color-stop(.25, transparent),
    color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)),
    color-stop(.75, rgba(255, 255, 255, .05)),
    color-stop(.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05)
    25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%,
    rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05)
    25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%,
    rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05)
    25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%,
    rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05)
    25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%,
    rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%,
    transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%,
    rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
  -moz-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, .4);
  -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, .4);
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, .4);
  width: 100%;
  border: 1px solid;
  color: #fff;
  position: fixed;
  _position: absolute;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
  z-index: 9999;
  padding: 10px 15px;
  margin-bottom: 18px;
}

.alert-message .close {
  margin-top: 0;
}

.alert-message a {
  font-weight: bold;
  color: #FFF;
  text-decoration: none;
}


.alert-message p a:hover {
  text-decoration: underline;
}

body {
    padding-top: 1px;
    padding-bottom: 0px;
    background: #FFF;
    height: 100%;
    width: 100%;
    overflow: scroll;
    font-family: Arial!important;
    font-size: 11px!important;
    color: #393939;
}

body:before {
    background: #FFF;
}

.dataTables_scroll {
    *zoom: 1;
}
.dataTables_scroll:after,.dataTables_scroll:before {
    display: table;
    line-height: 0;
    content: "";
}

.dataTables_scroll:after {
    clear: both;
}
a {
    cursor: pointer;
}

.sidebar-nav {
    padding: 9px 0;
}

@media (max-width:980px) {
	
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.navbar .navbar-inner,.navbar-inner {
    color: #878787;
    max-height: 26px!important;
    min-height: 26px!important;
    width: 100%;
    z-index: 99999;
    background: #2d2d2d;
}

#user_info {
    line-height: 23px;
}

.navbar .nav>li>a,.navbar .nav>li>a:focus,.navbar .nav>li>a:hover {
    color: #fafafa;
    background-image: -webkit-gradient(linear,left bottom,left top,from(#3a3a3a),to(#515151));
    background-image: -webkit-linear-gradient(bottom,#3a3a3a,#515151);
    background-image: -moz-linear-gradient(bottom,#3a3a3a,#515151);
    background-image: -o-linear-gradient(bottom,#3a3a3a,#515151);
    background-image: linear-gradient(to top,#3a3a3a,#2d2d2d);
    padding: 2px 10px 0;
}

.navbar .brand {
    padding: 1px 20px 5px 25px;
    color: #CCC;
    font-size: 20px;
}

.brand img {
    opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
}

.brand img:hover {
    opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
}

.navbar .nav>li>a {
    color: #FFFFFF ;
	font-family:arial;
	background:#2d2d2d;
}

.navbar-inverse .nav .active,.navbar-inverse .nav .active>a {
    background: none repeat scroll 0 0 #D95044!important;
}

.navbar-inverse .nav>li>a:hover {
    color: #FFF;
}

.navbar .top-nav>li {
    border-right: 0px solid #5B5B5B;
}

.top-nav:first-child {
    border-left: 0px solid #5B5B5B;
}

.collapse {
    background-color: height .35s ease 0s;
}

.bgred {
    background: none repeat scroll 0 0 #d83c26!important;
    color: #FFF!important;
}

.container-fluid {
    padding-left: 6px!important;
    padding-right: 6px!important;
}

.content-unit {
    color: inherit;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 10px 11px;
    margin: -12px 5px 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.topactionbar {
    background: #4f99c6;
}

.content-unit:first-child .row-fluid {
    overflow: hidden;
}

.row-fluid {
    font-size: 12px!important;
}

.table input[type=text] {
    width: 70px;
    height: 25px;
}

.table td,.table th {
    min-width: 15%;
}

.table select {
    width: 120px;
}

.table a {
    text-decoration: underline;
}

.table a:hover {
    background: #FFF;
    text-decoration: underline;
    padding: 0;
    margin: 0;
}

.bootstrap-select a {
    text-decoration: none;
    padding: 3px 20px;
}

.bootstrap-select a:hover {
    text-decoration: none;
    padding: 3px 0 3px 10px;
}

#main-content {
    margin: 0;
}

.btn.btn-app {
    width: 150px;
}

.ribbon-container {
    height: 47px;
    overflow: hidden;
    margin: 0 30px 0 16px;
}

.ribbon-container .dropdown-menu {
    position: fixed;
}

.leftbtn {
    position: absolute;
    left: 1px;
    height: 60px;
    width: 15px;
    float: left;
    padding-top: 11px;
}

.rightbtn {
    position: absolute;
    right: 20px;
    height: 60px;
    width: 15px;
    float: left;
    padding-top: 11px;
}

.leftbtn img,.rightbtn img {
    opacity: .5;
}

.leftbtn img:hover,.rightbtn img:hover {
    opacity: 1;
}

.ribbon {
    display: inline-block;
    color: #8ed3fd;
    height: 47px;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    padding: 0 0px 0 0px;
    text-align: left;
    position: relative;
    min-width: 120px;
}

.ribbon>.ribbon-icon {
    display: inline-block;
    padding-top: 6px;
    margin-right: 5px;
    margin-left: 0px;
	width : 38px;
	text-align:center;
}

.ribbon>.ribbon-icon>[class*=icon-] {
    display: inline-block;
    margin: 0;
    padding: 1px 1px 0 2px;
    border: 0;
    text-align: center;
    position: relative;
}

.ribbon>.ribbon-icon>[class*=icon-]:before {
    font-size: 40px;
    display: block;
    padding: 11px 0 0;
    text-align: center;
}

.ribbon>.ribbon-data {
    display: inline-block;
    border: 0;
    border-top-width: 0;
    font-size: 36px;
    text-align: left;
    position: relative;
    top: 0;
    padding-right: 6px;
	font-family: Arial!important;
	
}

.ribbon .ribbon-content {
    font-size: 12px;
    font-weight: 400;
    color: #999;
}

.ribbon>.ribbon-data>.ribbon-data-number {
    display: block;
    font-size: 11px;
    color: #999;
    position: relative;
}

.ribbon .ribbon-text,.ribbon-data .ribbon-text {
    display: inline-block;
    border: 0;
    border-top-width: 0;
    font-size: 16px;
    text-align: left;
    min-width: 70px;
    vertical-align: top;
    position: relative;
    top: 0;
    margin-top: 4px;
    text-shadow: 1px 1px 0 rgba(0,0,0,.05);
}

.ribbon .ribbon-data {
    padding-left: 0px;
}

.ribbon .ribbon-text {
    padding: 11.5px 8px 0;
}

[data-url=FILTER] .ribbon .ribbon-data .ribbon-text {
    padding: 5px 0 0;
}

.ribbon .ribbon-text small {
    font-size: 74%;
}

.ribbon-container .nav-pills {
    margin: 0;
}

.ribbon-container .nav-pills>li>a,.ribbon-container .nav-tabs>li>a {
    padding: 0;
    margin-right: 0;
}

.ribbon-container .nav-pills>li>a {
    padding: 0;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.ribbon-container li .active .ribbon,.ribbon-container li a:hover .ribbon {
    background: #4f99c6;
    color: #ffffff;
    font-family: Arial!important;
}

.ribbon-container .nav-pills>.active>a,.ribbon-container .nav-pills>.active>a:focus,.ribbon-container .nav-pills>.active>a:hover {
    color: #ffffff;
    background-color: #FFF;
}

.ribbon-container .divider-vertical {
    height: 44px;
    margin: 0;
    border-right: 0 solid #fff;
    border-left: 1px solid #f2f2f2;
}

.footer {
    margin-top: 5px;
    padding: 5px 0;
    text-align: center;
}


@media (max-width:480px) {
    .navbar .nav>li>a,.navbar .nav>li>a:focus,.navbar .nav>li>a:hover {
        padding: 2px 5px 0;
        font-size: 10px;
    }
}

@media (min-width:1400px) {
    .navbar .nav>li>a,.navbar .nav>li>a:focus,.navbar .nav>li>a:hover {
        padding: 2px 7px 0;
        font-size: 12px;
    }

    .navbar-fixed-top .dropdown-menu li a {
        font-size: 12px;
        padding-left: 9px;
        padding-right: 11px;
    }
}

@media (min-width:1024px) {
    .navbar .nav>li>a,.navbar .nav>li>a:focus,.navbar .nav>li>a:hover {
        padding: 4px 10px 1px;
    }

    .navbar-fixed-top .dropdown-menu li a {
        padding-left: 9px;
        padding-right: 11px;
    }
}

.width-153 {
    width: 153px!important;
}

.dropdown-navbar {
    width: 300px;
}

#notif.dropdown-navbar {
    width: auto;
}

.popover {
    margin-top: 20px;
    max-width: 700px;
}

.table input[type=checkbox] {
    position: relative!important;
    opacity: 1;
}

input[type=checkbox] {
    opacity: 1!important;
    position: relative!important;
}

.table {
    font-family: Arial!important;
    width: 100%;
}

.dataTable th[class*=sort]:after {
    content: none;
}

.cpTabTable th {
    text-align: left!important;
    font-family: Arial!important;
}

.dataTable th {
    text-align: center!important;
    font-family: Arial!important;
}

.table td,.table th {
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Arial!important;
}

.black_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1101;
    -moz-opacity: .5;
    opacity: .5;
    filter: alpha(opacity=50);
}

.white_content {
     border: 5px solid #4C8FBD;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  	/* css3 border radius */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 15px;
    background: #fff;
    text-align: center;
    width:328px; 
    height: 100px;
    position: fixed;
    top: 45%;
    left: 45%;
	opacity: 10; 
    margin: -5px 0 0 -32px;
}

.ie7 .white_content {
    width: 304px;
}

.white_content p {
    text-align: center;
    color: #333;
    font-weight: 700;
    font-family: "Helvetica Neue","Segoe UI","Nimbus Sans L","Liberation Sans","Open Sans",FreeSans,Arial,sans-serif;
    line-height: 18px;
    font-size: 12px;
}

.white_content p img {
    margin: 0 auto;
}

.table td input[type=text],.table td select {
    padding: 0 3px;
    font-size: 12px;
}

.table input[type=radio] {
    position: static;
}

.table th {
    background: #EDEDEE!important;
    color: #121212;
}

.table-condensed {
    width: 100%;
}

.table-condensed td,.table-condensed th {
    padding: 2px 3px!important;
}

.table td img {
    max-width: 23px!important;
    width: 23px!important;
}

.btn-primary {
    background-color: #015683!important;
    border-color: #015683;
}

.filter-btn {
    padding: 0 8px;
    line-height: 25px;
    font-size: 12px;
    background-color: #015683!important;
    border-color: #015683;
    color: #fff;
    margin-left: 16px;
    border-radius: 3px;
    border-style: solid;
    border-width: 4px;
    height: 30px;
}

.filter-btn:hover {
    background-color: #045e9f!important;
    border-color: #015683;
}

.dataTable th[class*=sorting_] {
    color: #015683;
}

.dataTables_wrapper label {
    display: inline-block;
    font-size: 12px;
    color: #015683;
}

@media (max-width:1024px) {	
.dataTables_paginate.pagination {
    margin: 18px 12px 0 !important;
}
.dataTables_info {
    margin: 12px 0 0 12px !important;
    font-size: 12px;
    color: #015683;
    padding-top: 8px;
    float: left;
}
}
@media (min-width:1366px) {
.dataTables_paginate.pagination {
    margin: 22px 12px 0 !important;
}
.dataTables_info {
    margin: 15px 0 0 12px !important;
    font-size: 12px;
    color: #015683;
    padding-top: 8px;
    float: left;
}
}
a {
    color: #015683;
    text-decoration: none;
}

input[type=date],input[type=datetime-local],input[type=datetime],input[type=month],input[type=number],input[type=text],input[type=time],input[type=week] {
    color: #393939;
}


#filter .control-group {
    margin: 10px 0 0 10px;
}

.filter-element select {
    width: 194px;
}

.filter-section .filter-btn {
    margin: 0!important;
}

.btn-small {
    line-height: 20px;
}

.filter-section .control-group {
    margin: 5px 0 0px 10px;
}

.well {
    background: #EDEDEE;
}

.btn-default,.export-div-detail .btn {
    background-color: #015683!important;
    border-color: #015683;
}

.btn-default:hover,.export-div-detail .btn:hover {
    background-color: #045e9f!important;
    border-color: #015683;
}

.export-div-detail .modal-footer {
    box-shadow: none;
    background-color: #fff;
    border-top: 1px solid #ddd;
}


.export-div-detail .modal-header h3 {
    line-height: 23px;
}

.export-div-detail {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #EDEDEE;
}

.modal-header .table td,.modal-header .table th {
    background: #EDEDEE!important;
    border: 0!important;
    border-radius: 0!important;
}

.detailPopup .modal-header {
    background: #EDEDEE!important;
    padding: 5px 15px;
    font-weight: 700;
    border-radius: 6px 6px 0 0;
}

.detailPopup {
    border-radius: 6px;
    top: 17%!important;
    width: 450px;
}

.detailPopup .modal-body td {
    border-bottom: 1px solid #EFF3F8;
}

.detailPopup .modal-body td.item-name {
    width: 55%;
}

.detailPopup .modal-body td.item-value {
    width: 45%;
}

.detailPopup .modal-footer {
    background: #FFF!important;
    border-radius: 0 0 6px 6px;
    border: 0;
    height: 0;
    padding: 3px;
}

.detailPopup .table {
    overflow: auto;
}

#tempalertbox .btn,.btn-default {
    background-color: #015683!important;
    border-color: #015683;
}

#tempalertbox .btn:hover,.btn-default:hover {
    background-color: #045e9f!important;
    border-color: #015683;
}

#tempalertbox .modal-footer {
    box-shadow: none;
    background-color: #EDEDEE;
    border-top: 1px solid #ddd;
}

#tempalertbox {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #EDEDEE;
    width: 300px;
}

.detailPopup td {
    background: #FFF!important;
    color: #000;
}

.detailPopup .modal-body {
    padding: 0;
    max-height: 407px;
}

.jspContainer {
    overflow: hidden;
    position: relative;
}

.jspPane {
    position: absolute;
}

.jspVerticalBar {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: #FAFAFA;
    z-index: 20;
}

.jspHorizontalBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: #FAFAFA;
    z-index: 20;
}

.jspHorizontalBar *,.jspVerticalBar * {
    margin: 0;
    padding: 0;
}

.jspCap {
    display: none;
}

.jspHorizontalBar .jspCap {
    float: left;
}

.jspTrack {
    background: #FAFAFA;
    position: relative;
}

.jspDrag {
    background: #dadde2;
    position: relative;
    top: 0;
    left: 0;
    opacity: .4;
    cursor: pointer;
}

.jspDrag:hover {
    opacity: 1!important;
}

.jspHorizontalBar .jspDrag,.jspHorizontalBar .jspTrack {
    float: left;
    height: 100%;
}

.jspArrow {
    background: #50506d;
    text-indent: -20000px;
    display: block;
    cursor: pointer;
}

.jspArrow.jspDisabled {
    cursor: default;
    background: #80808d;
}

.jspVerticalBar .jspArrow {
    height: 16px;
}

.jspHorizontalBar .jspArrow {
    width: 16px;
    float: left;
    height: 100%;
}

.jspVerticalBar .jspArrow:focus {
    outline: 0;
}

.jspCorner {
    background: #FAFAFA;
    float: left;
    height: 100%;
}

* html .jspCorner {
    margin: 0 -3px 0 0;
}

.datePicker {
    width: 182px;
    z-index: 25;
}

#loading_layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
	background:rgba(0,0,0,.5); 
	text-align:center;
}

#loading_layer .inner {
    font-size: 20px;
    background: #fff;
    text-align: center;
    width:328px; 
    height: 100px;
    position: fixed;
    top: 45%;
    left: 45%;
	opacity: 10; 
    margin: -5px 0 0 -32px;

	}
#loading_layer .reskin img {
width: 100px;
position: fixed;
top: 50%;
margin: -50px;
}


input[type=radio] {
    opacity: 0;
    position: absolute;
    z-index: 0;
    width: 18px;
    height: 18px;
}

input[type=checkbox]+label {
    margin: 0;
    clear: none;
    padding: 9px;
    cursor: pointer;
}

#MyProfileTab{
	width: 100%;
}
#userDetail {
	width: 35%;
	height:35em;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 12px;
    margin: 1.5%;
    overflow: scroll;
    scroll-behavior: smooth;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
#userDetail:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#userProfile{
	margin-left:7%;
}
#userName{
	margin-top:7%;
	font-size:18px;
	color: #97d1f5;
    font-style: inherit;
    word-break: break-word;
}
#generalInfo p{
    margin: 1% 0 1% 0;
}
#generalInfo label{
	margin-bottom: -3%;
}
#MyProfileTab{
	width: 100%;
}
#linkDetail{
	width: 60%;
	padding: 10px;
	border-radius: 12px;
	margin:1.5%;
	overflow:auto;
}
.linkTab{
	background-color: #f7f7f7;
    height: 29%;
    width: 92%;
    margin: 0% 0 4% 7%;
    border-radius: 17px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.linkTab:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.moduleImage{
	width: 88px;
    height: 88px;
    margin-left: -36%;
    margin-top: 20%;
    border-radius: 15%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.moduleImage:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.appName{
	width: auto;
    height: 50px;
    margin-left: -5%;
    margin-top: 17%;
}
.iosSpan{
	float: left; 
	width: 18%;
	padding: 6% 0 0 1%;
}
.iosImage{
    height: 33px;
    width: 106px;
}
.androidSpan{
	float: left; 
	width: 15%;
	padding: 6% 0 0 3%;
}
.androidImage{
	height: 33px;
    width: 105px;
}
.youtubeSpan{
	float: left; 
	width: 18%;
	padding: 5.5% 0 0 3%;
}
.youtubeImage{
	height: 27px;
    width: 42px;
}
.youtubetext{
    font-weight: bold;
}
.level{
	margin-left: 8%;
	margin-top: -11%;
}
.altametrics{
    font-size: 14px;
}
.schedule{
    font-size: 30px;
    line-height: 30px;
    color: #ea0000;
}
.inventory{
    font-size: 30px;
    line-height: 30px;
	color: #9988da;
}
.dar{
    font-size: 30px;
    line-height: 30px;
	color: #6f5050;
}
.alertField{
	font-size: 15px;
    color: red;
    font-style: italic;
}
#updateEmail, #addEmail{
	top:20% ! important;
	border-radius: 7px;
}
#deleteEmail{
	top:30% ! important;
	border-radius: 7px;
}

.PopUpModalHeader {
    background-color: #f5f5f5;
    border-radius: 10px 10px 0 0;
}
.error{
    font-family: inherit;
    font-size: 12px;
    color: orangered;
}
.updateMail{
	height: 32px;
	width: 104px;
    border: none;
    border-radius: 22px;
    background-color: #21984b ! important;
    font-family: sans-serif;
    font-size: 12px;
    outline-color: white;
}
.lebelText{
	font-family: sans-serif;
    font-size: 13px;
    color: #a09494;
}
#updateEmail label,#updateEmail label{
	font-family: sans-serif;
    font-size: 13px;
    color: #a09494;
    margin-top: 1%;
}
.updateMail:hover {
    background-color: #21984b ! important;
}
.notes{
    color: red;
}
.closeImage{
    height: 20px;
    width: 20px;
}
#confirm-dialog .pull-right{
	margin-top: 37px;
}
.deleteConfirmation{
	color:#5a5a63;
	font-size:14px !important
}
.deleteNotes{
	color:#5a5a63;
	font-size:12px !important
}
.deleteMailBtn{
	margin-left: 71%;
    line-height: 4px;
    margin-top: 0%;
}
.deleteMail{
	height: 32px;
	width: 85px;
    border: none;
    border-radius: 22px;
    font-family: sans-serif;
    font-size: 12px;
    outline-color: white;
}
#deleteEmail {
	width: 42%;
	margin-left: -21%;
}

.alertInBox{
	border-radius: 5px ! important;
	border:#FF0000 1px solid ! important;
}
.closeModal{
	color: black ! important;
	opacity: 1 ! important;;
    background-color: transparent!important;
}
.closeModal:hover {
         background: transparent!important;
 }
 @-moz-document url-prefix() {
   #deleteEmail .modal-body{
  		height: 115px;
  }
 }
 
 #deleteMobile{
	top:30% ! important;
	border-radius: 7px;
}

 #deleteMobile {
	width: 42%;
	margin-left: -21%;
}



#addMobile{
	top:30% ! important;
	border-radius: 7px;
}

 #addMobile {
	width: 42%;
	margin-left: -21%;
}


.profile-img-container {
    position: relative;
    display: inline-block; 
    overflow: hidden; 
    margin-top:7%;
	font-size:20px;
	color: #97d1f5;
    font-style: inherit;
    word-break: break-word;
}


.profile-img-container img:hover {
    opacity: 1.5;
}

.profile-img-container:hover a {
    opacity: 4; 
    top: 0; 
    z-index: 500;
}

.profile-img-container:hover a span {
    top: 50%;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.fa-camera { 
	position: absolute; 
	bottom:0; 
	right:0;
	
}

.profile-img-container a {
    display: block;
    position: absolute;
    top: -100%;
    opacity: 4;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    color: inherit;
}
.centered-and-cropped { 
	object-fit: cover ;
	height: 100px !important;
}
#userDetail {
	width: 35%;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 12px;
    margin: 1.5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
#userDetail:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#userProfile{
	margin-left:7%;
}
#userName{
	margin-top:7%;
	font-size:18px;
	color: #97d1f5;
    font-style: inherit;
    word-break: break-word;
}
.genInfo{
	font-size: 25px;
}
#generalInfo hr{
	margin: 0 7% 2% 0;
	border-top: 3px solid #eee;
}
.marginTop{
	 margin-top: 6%;
}
.inlineDisplay{
	display: inline-flex;
	word-break: break-word;
}
#generalInfo p{
    margin: 1% 0 1% 0;
}
#generalInfo label{
	margin-bottom: -3%;
}
.topbar{
	color: black;
	padding-left: 20px;
	padding-top: 0px;
	font-size: 19px;
}