<div style="text-align: center;">
   <span  style="color: green;display: inline;font-size: 20px;">
        <a href="#" routerLink='' (click)="clickLink('detail');">MY MONGO DB APP</a>
    </span> 
   <span style="display: inline;position: relative; z-index: 597; float: right">
    <img src="../assets/images/avtar_image.jpg" alt="Avatar" class="avatar">&nbsp;   
    <a href="#" routerLink='' style="color: blue;" (click)="clickLink('admin');">Admin Login</a>
   </span>
</div>
<br>
<router-outlet></router-outlet>