<br>
<div *ngIf="showSpinner" style="height: 1000px; width: 200px;">
  <div class="wrapper">
    <div class="overlay">
      <div class="spinner-wrapper">
        <app-app-spinner></app-app-spinner>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!showSpinner" style="overflow-x: auto;">
<table class="my_table" id="table">
    <thead class="thead-primary">
    <tr class="text-center">
         <th><p><b>ID</b></p></th>
         <th><p><b>Name</b></p></th>
         <th><p><b>Address</b></p></th>
    </tr>
    </thead>
    <tbody>
        <tr class="text-center" *ngFor="let kk of Repdata;let ind = index">
            <td>{{ind +1 }}</td>
            <td>{{kk.name}}</td>
            <td>{{kk.address}}</td>
        </tr>		     
    </tbody>
   
</table>
</div>